@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@600&display=swap');

.card {
  border-radius: 10%;
}

.main-section {
  border: 1px solid #007bff;
  background: rgb(250, 207, 179);
}

img {
  height: 200px;
  width: 200px;
  margin-top: 10px;
}

.user-details h5,
p,
span {
  margin: 25px 0 5px 0;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.user-details span {
  font-family: 'Courgette', cursive;
}

.bg-image {
  width: 15%;
  height: 100px;
}
