  <section id="profile" class="container">
    <div class="row mt-5">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
        <div class="row user-details">
          <div class="col-12">
            <img src="/assets/blog.jpeg" class="rounded-circle img-thumbnail" alt="profile">
            <h5>{{user.fullName}}</h5>
            <p>
              {{user.email}}
            </p>

            <hr>
            <span>{{user.username}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
