  <section id="profile" class="container">
    <div class="row d-flex justify-content-between">
      <img class="bg-image" src="/assets/5.png" />
      <img class="bg-image" src="/assets/6.png" />
      <img class="bg-image" src="/assets/7.png" />
    </div>
    <div class="row mt-5">
      <div class="col-3">
        <img class="" src="/assets/1.png" />
      </div>
      <div class="col-6 main-section text-center card">
        <div class="row user-details">
          <div class="col-12">
            <img src="/assets/blog.jpeg" class="rounded-circle img-thumbnail" alt="profile">
            <h5>{{user.fullName}}</h5>
            <p>
              {{user.email}}
            </p>
            <hr>
            <span>{{user.username}}</span>
          </div>
        </div>
      </div>
      <div class="col-3" style="padding-left: 50px;">
        <img class="" src="/assets/2.png" />
      </div>
    </div>
    <br>
    <br>
    <div class="row d-flex justify-content-between">
      <img class="bg-image" src="/assets/3.png" />
      <img class="bg-image" src="/assets/4.png" />
      <img class="bg-image" src="/assets/8.png" />
    </div>


  </section>
