<div class="blog">
  <br>
  <div class="container">
    <input [(ngModel)]="filterText" type="text" id="search" class="form-control" placeholder="Search..." required
      autofocus>
    <br>
    <ul *ngFor="let data of allPosts | postFilter:filterText">
      <div class="blog-image">
        <a routerLink="/post/{{data.id}}"><img src="assets/blog.jpeg" height=200px width=200px></a>
      </div>
      <a routerLink="/post/{{data.id}}">
        <h3>{{data.title}}</h3>
      </a>
      <p>Author: {{data.fullName}}</p>
      <p>Release Date: {{data.postDate.toString().substring(0,10)}}</p>
      <div class="blog-content">
        <p [innerHTML]="data.content.substring(0,500)"></p>
        <pre>...</pre>
        <a class="btn btn-success" (click)="readMore(data.id)">Read
          more...</a>
      </div>
    </ul>
  </div>
</div>
