@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
/* .bg {
    background-image: url("/assets/home-page.jpg");
    background-size: cover;
  } */

.bg {
    background-image: linear-gradient(to right, #fad599,#faf399);
}

.blog ul {
    width: 100%;
    display: block;
    margin: 0 0 30px;
    float: left;
    padding: 0;
}

.blog .blog-image {
    float: left;
    margin-right: 25px;
    border: 8px solid #f2f2f2;
    padding: 20px;
}

.blog .blog-image img {
    max-width: 100%;
    height: auto;
}

.blog h3 {
    font-family: 'Philosopher', sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog .btn-success {
    border-radius: 8%;
    background: #3c8dbc;
    border: 2px solid #3c8dbc;
    color: #fff;
    transition: all 0.5s;
}

.blog .btn-success:hover {
    background: none;
    border: 2px solid #3c8dbc;
    color: #3c8dbc;
}

.right {
    float: right;
    margin-right: 15px;
    color: #3c8dbc;
}

.pointer {
    cursor: pointer
}

.login-btn {
    position: absolute;
    top: 14px;
    right: 0;
    background: #fff;
    padding: 6px 20px;
}

a {
    text-decoration: none;
    color: rgb(39, 37, 37)
}
.blog-content,p{
    font-size:15px;
    font-family: 'Philosopher', sans-serif;
}
/* Responsive start here  */

@media (max-width:767px) {
    .blog .blog-image {
        float: none;
        margin-bottom: 20px;
        text-align: center;
        display: block;
    }
}