<div class="container">
    <div *ngIf="success" class="alert alert-success">
        {{success}}
    </div>
    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>
    <form [formGroup]="postForm" (ngSubmit)="addPost()" class="p-3">
        <div class="form-group mb-3">
            <input type="text" class="form-control" id="title" placeholder="Enter post's header here... "
                formControlName="title">
        </div>
        <ckeditor  formControlName="content">
            <textarea class="ckeditor" id="content" ></textarea>
        </ckeditor>
        <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary mt-3">Add Post</button>
    </form>
</div>